#errorPageContainer h1:before {
  content: "Please have patience as I2P boots up and find peers. Try to reload the page or check your I2P router status. ";
}

#errorPageContainer p#errorShortDescText:before {
  content: "The first time you start I2P it may take a few minutes to bootstrap (integrate) you into the network and find additional peers to optimize your integration, so please be patient. When I2P starts up, and during normal operation, I2P's tunnel build readiness indicator (immediately above the Local Destinations section in the I2P Router Console) may tell you that I2P is Rejecting Tunnels; this is normal behavior and should be of no cause for concern! Once green stars are indicated next to your Local Destinations, there is a wide variety of things you can do with I2P. \a\a";
}

#errorPageContainer div#errorLongDesc ul {
  display: none;
}

div#errorPageContainer {
  background: #f0f0f0 url("http://localhost:7657/themes/snark/ubergine/images/hat.png") no-repeat scroll right bottom !important;
}

/* Remove the bottom line from ShortDesc */
#errorPageContainer #errorShortDesc > p {
  border-bottom: none !important;
}
